.history {
    width: 300px;
    margin: 0 auto;

    text-align: center;
    background-color: #fff;

    border-collapse: collapse;
    border: 1px solid Lavender;
    
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.tableHeader {
    font-size: 12px;
    font-weight: 500;

    color: #fff;
    background-color:dodgerblue;
}

.cellHeader {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border: 1px solid Lavender;
}

